body{
    margin: 0;
    padding: 0;
}
.orderedData::before{
    content: " ";
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("../images/homepage_bg.jpg");
    background-size: cover;
    filter: brightness(15%);
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    filter: brightness(100%);
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 3;
}
.menuIcon:hover{
    cursor: pointer;
}
.menuIcon{
    position: relative;
    left: 15px;
    color: white;
}
.menuIconBar{
    height:4px;
    width: 27px;
    margin: 4px;
    border-radius: 6px;
    background-color: white;
}
.closeMenuIcon:hover{
    cursor: pointer;
}
.closeMenuIcon{
    filter:brightness(100%);
    color: white;
    font-size: 1.63rem;
    font-weight: 500;
}
.sidebarMenu{
    filter: brightness(100%);
    height: 63vh;
    width: 15vw;
    color: white;
    background-color: #343434;
    text-align: center;
    position: fixed;
    border-radius: 20px;
    z-index: 2;
}
.sidebarMenuItems{
    padding: 25px 0;
    font-size: 0.94rem;
    font-weight: 500;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 120px;
    height: 1px;
    border-radius: 2px;
    background-color: white;
}
.nav{
    font-size: 1rem;
    justify-items: flex-end;
    color: white;
    position: relative;
    right: 20px;
    font-weight: 500;
}
.navItem:hover{
    cursor: pointer;
}
.navItem{
    display: inline-block;
    padding: 10px 30px;
    color: white;
}
.section{
    filter: brightness(100%);
    color: white;
}
.userID{
    position: relative;
    top: 26px;
    left: 25%;
}
.orderID{
    position: relative;
    top: 26px; 
    left: 28%;
}
.emptyOrderText{
    text-align: center;
    padding: 10.5% 0;
    font-size: 1.63rem;
}
.table1{
    border-collapse: collapse;
    width: 50%;
    background-color: rgb(4, 196, 255);
    font-size: 1.13rem;
    text-align: center;
    margin-top: 3%;
}
.table1 th{
    color: white;
    height: 7vh;
}
.table1 td{
    color: white;
    height: 7vh;
}
.midCol{
    background-color: rgba(52, 155, 224, 0.87);
}
.table2{
    width: 50%;
    border-collapse: collapse;
    margin-top: 2%;
}
.totalAmount{
    position: relative;
    top: -15px;
    font-size: 1.06rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.note{
    text-align: center;
    margin-top: 5.5%;
}
.note p{
    font-size: 1rem;
}
.footer{
    filter: brightness(100%);
    color: white;
    margin-top: 5%;
}
.footcontent1{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    padding: 10px 0;
}
.footcontent2{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2px;
}
.footcontent3{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.footImages{
    filter: brightness(100%);
    display: flex;
    position: relative;
    bottom: 15px;
    margin-top: 20px;
    justify-content: center;
}
.footLogo{
    padding: 0 4px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
.privacyAndTerms{
    filter: brightness(100%);
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    margin-top: 19px;
    font-size: 0.81rem;
}

@media screen and (max-width: 1024px) {
    .nav{
        right: 0;
        margin-top:1.5%;
        align-self: flex-end;
        width: fit-content;
    }
    .navItem{
        font-size: 1rem;
        color: white;
        padding: 1% 7.5%;
        display: inline-block;
        width:fit-content;
    }
    #homepageLink, #cartLink{
        font-size: 1rem;
        padding: 1% 7.5%;
        display: inline-block;
        width:fit-content;
    }
    #homepageLink{
        margin-left: -2%;
    }
    #cartLink{
        margin-top: 7%;
        margin-left: 25.6%;
        padding-right: 7.6%;
        position: relative;
        left: 3.7%;
    }
    .sidebarMenu{
        width: 50vw;
        height:fit-content;
    }
    .emptyOrderText{
        padding: 10.5% 3.6% 10% 3.6%;
    }
    .table1{
        margin-top: 9.5%;
    }
    .table2{
        margin-top: 6%;
    }
    .totalAmount{
        display: inline-block;
        width: 48vw;
    }
    .note{
        position: relative;
        top: 10px;
        padding: 0 4%;
    }
}